.contentWrap {
  margin: 0 auto;
  align-content: center;
  color: #000;
  font-size: 14px;
  min-height: 100%;
  max-height: 100dvh;
  height: 100%;
  .chatContainer {
    border: 6px double white;
    max-width: 250px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 4px;
    height: 100%;

    .chatHeader {
      background-color: white;
      height: 50px;
      padding: 10px;
      text-align: center;
    }
    .chatWindow {
      background-color: rgb(5, 0, 19);
      min-height: 150px;
      max-height: 350px;
      overflow: auto;
      padding: 4px 10px;
      margin: 4px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      color: #fff;

      .chatMsg {
        justify-items: flex-start;
      }
      .personMsg {
        justify-items: flex-end;
      }
      p[role="name"] {
        padding: 2px 4px;
        border-radius: 4px;
        color: greenyellow;
      }
    }
    .chatFooter {
      background-color: white;
      height: 60px;
      padding: 4px;
      display: flex;
      gap: 4px;
      textarea {
        min-width: 80%;
        width: 100%;
        padding: 4px;
        min-height: 50px;
        max-height: 50px;
      }
      button {
        height: 20px;
        align-self: center;
        cursor: pointer;
        transition: 0.2s;
      }
    }
  }
}
