name: Deploy Plugin to Server

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubunto-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v3

    - name: setup node
      uses: actions/setup-node@v3
      with:
        node-version: 22
        
    - name: install dependencies
      run: npm ci

    - name: build
      run: npm run build

      

      
      

    
